.candle {
  width: 1vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.high {
  width: 0.05vw;
  position: relative;
  background-color: gray;
}

.body {
  position: relative;
  width: 0.5vw;
  background-color: blanchedalmond;
  border-radius: 0.05vw;
  border: none;
}

.low {
  width: 0.05vw;
  position: relative;
  background-color: gray;
}

.data {
  font-size: small;
  position: absolute;
}

.date {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 92.5vh;
  font-size: small;
  width: 12vw;
  background-color: rgb(68, 68, 68);
  border-radius: 3px;
  padding: 0px 1px;
}
