.chart {
  display: flex;

  flex-direction: row;
  gap: 0.1vw;
  border: solid 0.2vw dimgray;
  height: fit-content;
  min-height: 80vh;
  max-height: fit-content;
  min-width: 90vw;
  max-width: 90vw;
  cursor: crosshair;
  overflow-y: hidden;
  overflow-x: auto;
}

.chart::-webkit-scrollbar {
  height: 0px;
}

.axisY {
  position: absolute;
  height: 80vh;
  width: 0.02vh;
  background-color: rgb(45, 45, 45);

  z-index: -99;
}

.axisX {
  position: absolute;
  font-size: 1.8vh;
  height: 0.02vh;
  width: 92vw;
  background-color: rgb(45, 45, 45);
  z-index: -99;
}
.maxHigh {
  font-size: 2vh;
  position: absolute;
  top: 12.5vh;
  left: 96vw;
}
.maxLow {
  font-size: 2vh;
  position: absolute;
  top: 94.5vh;
  left: 96vw;
}
